.container7-img {
  width: 1336px;
  height: 250px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container7-img-1 img {
  width: 314px;
  height: 236px;
  border-radius: 20px;
  cursor: pointer;
}

.container7-img-2 img {
  width: 314px;
  height: 236px;
  border-radius: 20px;
  cursor: pointer;
}

.container7-img-3 img {
  width: 314px;
  height: 236px;
  border-radius: 20px;
  cursor: pointer;
}

.container7-img-4 img {
  width: 314px;
  height: 236px;
  border-radius: 20px;
  cursor: pointer;
}

.container8 {
  width: 1336px;
}

.container8-2 {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container8-2 p {
  font-size: 15px;
  font-weight: bold;
}

.container8-3 {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.container8-3-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container8-3-img img {
  width: 170px;
  height: 170px;
}

.container8-3-img p {
  color: #080a38;
  font-size: 12px;
  font-weight: bold;
}

.container8-4-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container8-4-img img {
  width: 170px;
  height: 170px;
}

.container8-4-img p {
  color: #080a38;
  font-size: 12px;
  font-weight: bold;
}

.container8-5-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container8-5-img img {
  width: 170px;
  height: 170px;
}

.container8-5-img p {
  color: #080a38;
  font-size: 12px;
  font-weight: bold;
}

.container8-6-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container8-6-img img {
  width: 170px;
  height: 170px;
}

.container8-6-img p {
  color: #080a38;
  font-size: 12px;
  font-weight: bold;
}

.container8-7-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container8-7-img img {
  width: 170px;
  height: 170px;
}

.container8-7-img p {
  color: #080a38;
  font-size: 12px;
  font-weight: bold;
}

.container8-8-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container8-8-img img {
  width: 170px;
  height: 170px;
}

.container8-8-img p {
  color: #080a38;
  font-size: 12px;
  font-weight: bold;
}

/*line 2 image*/

.container8-10 {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.container8-10-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container8-10-img img {
  width: 170px;
  height: 170px;
}

.container8-10-img p {
  color: #080a38;
  font-size: 12px;
  font-weight: bold;
}

.container8-11-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container8-11-img img {
  width: 170px;
  height: 170px;
}

.container8-11-img p {
  color: #080a38;
  font-size: 12px;
  font-weight: bold;
}

.container8-12-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container8-12-img img {
  width: 170px;
  height: 170px;
}

.container8-12-img p {
  color: #080a38;
  font-size: 12px;
  font-weight: bold;
}

.container8-13-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container8-13-img img {
  width: 170px;
  height: 170px;
}

.container8-13-img p {
  color: #080a38;
  font-size: 12px;
  font-weight: bold;
}

.container8-14-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container8-14-img img {
  width: 170px;
  height: 170px;
}

.container8-14-img p {
  color: #080a38;
  font-size: 12px;
  font-weight: bold;
}

.container8-15-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container8-15-img img {
  width: 170px;
  height: 170px;
}

.container8-15-img p {
  color: #080a38;
  font-size: 12px;
  font-weight: bold;
}
