.container14 {
  margin-top: 30px;
  display: flex;
}

.container14-1 {
  width: 320px;
  height: 270px;
}

.container14-1-main h3 {
  font-size: 16px;
  padding-bottom: 5px;
  cursor: pointer;
}

.container14-1-nomain p {
  opacity: 70%;
  line-height: 35px;
  font-size: 14px;
  cursor: pointer;
}

.container14-2 {
  width: 320px;
  height: 270px;
}

.container14-2-main h3 {
  font-size: 16px;
  padding-bottom: 5px;
  cursor: pointer;
}

.container14-2-nomain p {
  opacity: 70%;
  line-height: 35px;
  font-size: 14px;
  cursor: pointer;
}

.container14-3 {
  width: 320px;
  height: 270px;
}

.container14-3-main h3 {
  font-size: 16px;
  padding-bottom: 5px;
  cursor: pointer;
}

.container14-3-nomain p {
  opacity: 70%;
  line-height: 35px;
  font-size: 14px;
  cursor: pointer;
}

.container14-logo-socialmedia img {
  margin-top: 20px;
  margin-left: 40px;
  width: 30px;
  height: 30px;
  opacity: 50%;
  cursor: pointer;
}

.container14-emial {
  margin-top: 40px;
}

.container14-emial h2 {
  font-size: 16px;
  opacity: 80%;
  cursor: pointer;
}

.container14-emial input {
  width: 260px;
  height: 48px;
  background-color: rgb(216, 216, 216);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 10px;
  padding-right: 10px;
}

.container14-emial button {
  margin-right: 5px;
  width: 50px;
  height: 48px;
  color: white;
  background-color: rgb(129, 129, 129);
  border: none;
  border-radius: 9px;
  cursor: pointer;
}
